body {
    background: linear-gradient(0deg, rgba(227,255,0,1) 0%, rgba(4,254,0,1) 50%, rgba(227,255,0,1) 100%);
}
#h1{
    font-size:  40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: oblique;
}
#h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
}
#start-btn
{
    width: 90%;
} 
#camera
{
    width:360px;
    height: 250px; 
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
.copy_right_footer {
    position: fixed;
    bottom:0;
    width: 100%;
    text-align: center;
    float:right;
    color: rgb(75, 0, 130);
}
.res {
    background:linear-gradient(225deg, rgb(255, 255, 255) 0%, rgba(255,255,255,0) 32%, rgba(250,255,251,0) 67%, rgb(255, 255, 255) 100%);
    border-radius: 20px;
    width: 400;
    height: 290;
}
#left{
    width:360px;
    height: 250px;
    box-shadow: 28px;
}
#left:hover {
    border-radius: 30px;
}
#right {
    width:360px;
    height: 250px;
    margin: 35;
}
#right:hover {
    border-radius: 30px;
}
#center {
    width:360px;
    height: 250px;
    margin: 35;
}
#center:hover {
    border-radius: 30px;
}
#left {
    float: left;
    margin-left: 10%;
}
#right {
    float: right;
    margin-right: 10%;
}